/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 600;
    font-size: 0.875rem;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Header ***************/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    display: flex;
    align-items: flex-start;
}

.logoBooki {
    width: 3.81813rem;
    height: 1.1875rem;
    margin-bottom: 1.875rem;
    padding-top: 1.88rem;
}

.btnMenu1,
.btnMenu2 {
    background-color: white;
    border-style: hidden;
    position: relative;
    margin-left: 4.25rem;
}



.btnMenu1:hover::before,
.btnMenu2:hover::before {
    content: "";
    position: absolute;
    top: -7.6px;
    width: 100%;
    height: 2px;
    background-color: blue;
}

.btnMenu1:hover,
.btnMenu2:hover {
    color: blue;
}

/**************************

  /********** SearchModule *****************/

.searchModuleLayout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
}

.searchBar {
    display: flex;
    width: 23.5625rem;
    height: 3.0625rem;
    align-items: center;
    border-radius: 0.9375rem;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
}

#search-input {
    color: Black;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    border: 1px solid #F2F2F2;
}

#btnSearchBarSubmit {
    display: flex;
    height: 3.0625rem;
    align-items: center;
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid #0065FC;
    background: #0065FC;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
}

.filterBarLayout {
    display: flex;
    height: 3.125rem;
    align-items: center;
    gap: 0.9375rem;
}

.filterBtn {
    display: flex;
    height: 3.125rem;
    padding: 0.25rem 1.1875rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.5625rem;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    background-color: white;
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.filterBtn:hover {
    background: #DEEBFF;
}

.infoBar {
    display: flex;
    height: 1.5rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    margin-bottom: 2.18rem;
}

/****************************

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.18rem;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1.88rem;
}

.cardMain {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.cardColumnOne {
    display: flex;
    padding-top: 1.88rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-ContentMain {
    margin: 0rem 0.9375rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.cardMain img {
    width: 15.645rem;
    height: 7.75rem;
}

.hebergements .card-rating {
    margin-bottom: 0.94rem;
    margin-top: 0.5rem;
}

.hebergements h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0.25rem;
}

.hebergements p {
    margin-block-start: 0;
    margin-top: 0.5rem;
    margin-block-end: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****************************


/************** activity *********************/
.activity {
    margin-top: 1.88rem;
    padding: 1.875rem;
}

.activityCardMain {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1.26rem 1.26rem 1.25rem 1.25rem;
    background: var(--White, #FFF);

}

.activityBoxCard h2 {
    font-size: 1rem;
    padding: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.activityLayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*************** Footer *******************/
.activityCardMain {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
}

footer h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

footer ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0rem;
    padding-inline-start: 0px;
}

footer li {
    padding-top: 0.93rem;
}

.footerContain {
    width: 29.9rem;
    height: 10rem;
    padding: 1.25rem;
    background: var(--Grey, #F2F2F2);
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}